<html>
    <head>
        <title>Image-Text-Speech</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <script src="{{ url_for('static', filename='js/save.js') }}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="/">Image-Text-Speech</a>
        </nav>
        <form action="/show" method = "POST">
        <div class="booking-form">
        <label for="img">Choose the image for extracting the text</label>
        <input type="file" class="form-control" name="img" id="img" accept="image/*">
        <input type="text" name="name">
        <div class="input-grp">
            <button id="button" class="form-control" type="submit">Show Text</button>
        </div>
        </div>
        </form>
    </body>
</html>